@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.q2__main {
  box-sizing: border-box;
  width: 940px;
  background-color: #eff3f4;
  padding: 20px;
  margin: 0 auto;
}

.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.img-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
.q2__contents {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}
/* 回答はここに書いてね */
