@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q1__main {
  display: block;
  background-color: #eff3f4;
  margin: 0 auto;
  width: 900px;
  padding: 20px;
}

.q1__background {
  float: left;
  padding: 20px;
  background-color: #3274ae;
  margin-left: 20px;
}

.q1__background:first-child {
  margin: 0;
}

.q1__text {
  font-size:16px;
  line-height: 16px;
  background-color: #eaf4ff;
  box-sizing: border-box;
  width: 230px;
  padding: 20px;
  border: 10px solid #022336;
}

/* 回答はここに書いてね */
