@charset "UTF-8";

/* 回答はここに書いてね */


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.float__box {
  box-sizing: border-box;
  float: left;
  width: 225px;
  font-size: 16px;
}

.float__box:last-child {
  margin-left: 50px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.table__main {
  display: table;
  }

.table__box {
  display: table-cell;
  vertical-align: middle;
}

.table__box__text {
  box-sizing:border-box;
  width: 225px;
}

.table__right {
  margin-left: 50px;
}

.inline__main {
  font-size: 0px;
}

.inline__box {
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block;
  width: 225px;
  vertical-align: middle;
}

.inline__box:last-child {
  margin-left: 50px;
}

.flex__main {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.flex__box {
  box-sizing: border-box;
  width: 225px;
  padding: 10px;
}

.left-side, .right-side {
  float: left;
  display: inline-block;
  vertical-align: top;
}

.left-side {
  width: 300px;
}


.right-side {
  width: 100%;
  margin-left: -300px;
}

.right-side-child {
  margin-left: 350px;
}

/* 回答はここに書いてね */
