@charset "UTF-8";

/* 回答はここに書いてね */


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.q7-1__box {
  box-sizing: border-box;
  float: left;
  width: 225px;
  font-size: 16px;
}

.q7-1__box:last-child {
  margin-left: 50px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7-2parent {
  display: table;
  }

.q7-2__box {
  display: table-cell;
  vertical-align: middle;
}

.q7-2__box__text {
  box-sizing:border-box;
  width: 225px;
}

.q7-2__right {
  margin-left: 50px;
}

.q7-3parent {
  font-size: 0px;
}

.q7-3__box {
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block;
  width: 225px;
  vertical-align: middle;
}

.q7-3__box:last-child {
  margin-left: 50px;
}

.q7-4parent {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.q7-4__box {
  box-sizing: border-box;
  width: 225px;
  padding: 10px;
}

.q7-5-1, .q7-5-2 {
  float: left;
  display: inline-block;
  vertical-align: top;
}

.q7-5-1 {
  width: 300px;
}


.q7-5-2 {
  width: 100%;
  margin-left: -300px;
}

.q7-5-2child {
  margin-left: 350px;
}

/* 回答はここに書いてね */
