@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q4__cell{
  display: table-cell;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.q4__main {
  padding: 20px;
}

.q4__bar {
  display: table;
  width: 100%;
  height: 56px;
  background-color: black;
  font-size: 0px;
}

.q4__bar:first-child {
  margin-bottom: 20px;
}

.q4__head__left{
  width: 100px;
  background-color: #fdc8b8;
}
.q4__head__center {
  width: auto;
  background-color: #e0abd9;
}
.q4__head__right {
  width: 100px;
  background-color: #b6d8ed;
}
.q4__foot__left {
  max-width: 100px;
  background-color: #e5d32e;
}
.q4__foot__center {
  max-width: 100px;
  background-color: #ec8f9a;
}
.q4__foot__right {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
