@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  padding: 20px;
}

.first, .second {
  display: table;
  width: 100%;
  height: 56px;
  background-color: black;
  font-size: 0px;
}

.first {
  margin-bottom: 20px;
}

.first *, .second *{
  display: table-cell;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.kotei1-1 {
  width: 100px;
  background-color: #fdc8b8;
}
.kahen1-1 {
  width: auto;
  background-color: #e0abd9;
}
.kotei1-2 {
  width: 100px;
  background-color: #b6d8ed;
}
.kahen2-1 {
  max-width: 100px;
  background-color: #e5d32e;
}
.kahen2-2 {
  max-width: 100px;
  background-color: #ec8f9a;
}
.kotei2-1 {
  width: 500px;
  background-color: #8fdcad;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 回答はここに書いてね */
