@charset "UTF-8";

/* 回答はここに書いてね */

.q3__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  /* 値をfixedにしてサイズを指定しなければ、セルの横幅が等幅になる。 */
  line-height: 26px;
  font-size: 16px;
}

.q3__table th, .q3__table td {
  border: solid #dedede 1px;
  padding: 10px 0;
  /* 上下10、左右0 */
}

.q3__table tbody tr:nth-child(even) {
  background: #ecf1f2;
}

.q3__table th {
  font-size: 18px;
  background-color: #2244aa;
  color: white;
}

.q3__table tfoot {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
